<template name="meetupList">
  <div class="span8 well meetup-list">
    <ul>
    {{# each meetups}}
      {{> meetup}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="meetup">
  <li>
    <a class="focus-location" href="javascript:void(0)" title="focus map to location"><i class="icon-map-marker"></i>{{city}}</a> | <!--{{feature.geometry.coordinates}}--><a title="more informations" href="{{url}}"><i class="icon-info-sign"></i></a> | <a class="delete-link" href="javascript:void(0)" title="delete this event !"><i class="icon-trash"></i>delete</a>
  </li>
</template>
