<template name="meetupSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input name="url" type="text" value="" placeholder="URL"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">City</label>
        <div class="controls">
            <input name="city" type="text" value="" placeholder="City"/>
        </div>
    </div> 
    <div class="control-group">
        <label class="control-label" for="message">Country</label>
        <div class="controls">
            <input name="country" type="text" value="" placeholder="Country"/>
        </div>
    </div> 
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
